@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    background: #d4e0ee;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.row {
    margin: 30px auto;
    background: #ffffff;
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
}

#img {
    margin: 15px auto;
    width: 100%;
    max-width: 200px;
    border-radius: 10px;
}

.text-group {
    padding: 0px 2em 2em 2em;
    margin: auto;
    max-width: 300px;
}

.text-group h2 {
    font-size: 1.1em;
}

.text-group p {
    color: #868b91;
    font-size: .8em;
}